.panel {
    padding: 10px;
    border: 1px solid #BCBBBB;
    margin: 15px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 1px 1px rgba(204, 204, 204, 0.30);
}

.panel h3 {
  font-size: 1em;
}

.panel img {
    max-height: 100%;
}