.App {
  display: flex;
  flex-direction: row;
  background-color: #00565f;
}

.menu {
  max-width: 70px;
  min-width: 55px;
  width: 10vw;
  text-align: center;
  background-color: #00565f;
  color: white;
  height: 100vh;
}

.body {
  width: 100vw;
  background-color: #e6e6e6;
}

h1, h2, h3 {
  color: #00565f;  
}

img {
  max-width: 550px;
}

@media all and (max-width: 500px) {
  .App {
    flex-direction: column;
  }
  .menu {
    width: 100vw;
    max-width: 100vw;
    height: 20%;
    min-height: 50px;
    max-height: 20%
  }
  img {
    max-width: 300px;
  }
}

